<h1>Dados Clientes</h1>

<p>Está tela carrega a lista de clientes do banco do dados.</p>

<p *ngIf="!empList"><em>Carregando...</em></p>

<p>
    <a [routerLink]="['/register-cliente']">Criar Novo</a>
</p>

<table class='table' *ngIf="empList">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Telefone</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cli of empList">
            <td>{{ cli.id }}</td>
            <td>{{ cli.nome }}</td>
            <td>{{ cli.endereco }}</td>
            <td>{{ cli.telefone }}</td>
            <td>{{ cli.email }}</td>
            <td>
            <td>
                <a [routerLink]="['/cliente/edit/', cli.id]">Edit</a> |
                <a [routerLink]="" (click)="delete(cli.id)">Delete</a>
            </td>
        </tr>
    </tbody>
</table>